<!DOCTYPE HTML>
<html>
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>eigencode.io</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins" rel="stylesheet">
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
    var t;
    if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
    t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n;
        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e, n, o, i;
      e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
      n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
    });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('psa8rgzxaz2u');
    </script>
    <!-- End of Async Drift Code -->

    <script>
    drift.on('ready',function(api){
      api.widget.hide();
      drift.on('sidebarOpen', function() {document.body.className = "fade";});
      drift.on('sidebarClose', function() {document.body.className = ""});
    })

    </script>
  </head>
  <body>
  <div>

    <h1 class="eigen">
      eigen<span class="code">code</span>.io
    </h1>
  </div>
    {{{body}}}
  </body>
</html>
