<h3 class="page-header">
    Previous clients
</h3>
<div class="scannable">
    <a class="back" href="/">Back</a>
    <p>
        I work with a range of public and private sector clients - ranging from
        stealth start-ups to large government departments. Here is an overview of
        how I helped some of them:
    </p>


    <h4>
        Redgate Software Ltd. - Growing an established technical product
        <br>
        <span class="sub">2015-2016</span>
    </h4>
    <p>
        Over the course of twelve months, I created two year road map for an established product
        and coached a new technical team on relevant domain insights. I did this by:
    </p>
    <ul>
       <li>Analysing in detail all competitors, including their strengths, weaknesses, market share and brand strength</li>
       <li>Segmenting the user base, discovering divergence in the value propositions were served</li>
       <li>Identifying the best value proposition to follow using market gap analysis</li>
       <li>Championing a repositioning allowing for focused marketing and development activities</li>
       <li>Optimising development schedules for quality and velocity</li>
    </ul>
    <p>
        These activities increased revenue by 200% in two years, reverting a trend of 30% year-on-year decline.
    </p>


    <h4>
        The Department for Business, Energy and Industrial Strategy - extremely rapid ideation and prototyping
        <br>
        <span class="sub">2016-2017</span>
    </h4>
    <p>
        Combining User Experience, Product Management and Development skills, I rapidly specified and developed
        prototypes for internal and external testing. Key activities included:
    </p>
    <ul>
        <li>Interviewing senior stakeholders, negotiating scope and championing iterative delivery</li>
        <li>Maximising insights from prototypes by creating backlogs that included both well understood and less well understood aspects</li>
        <li>Rapid development (2-3 projects per week), adhering to government practices and prefered programming languages</li>
        <li>Same-day iteration of road map, design, and code, based on user test feedback</li>
    </ul>
    <p>
        This enabled testing future digital services at an unprecedented rate.
    </p>
</div>
<div class="bottom-cta">
    How can I help your business? <a href="/" onclick="drift.on('ready',function(api) { api.sidebar.toggle() }); event.preventDefault()">
    Let's&nbsp;talk.
    </a>
</div>

