<div class="hero">
  <h1>
    Software
    that&nbsp;clicks
  </h1>
  <h2>
    I am a Product Management consultant
    who can help you build effective software strategies
  </h2>
  <a class="cta" href="mailto:daniel@eigencode.io" onclick="drift.on('ready',function(api) { api.sidebar.toggle() }); event.preventDefault()">
    Let's talk
  </a>
  <p class="sub">or, just get my <a href="/">product strategy cheat sheet</a>
</div>
<div>
  <h3 class="section-header">
    The approach makes all the difference:
  </h3>
  <ol class="threestep">
    <li class="threestep-one">
      <h4>
        Get product/market fit
      </h4>
      <p>
        Read market and competitor behaviour to determine
        where your product will find success.
      </p>
    </li>

    <li class="threestep-two">
      <h4>
        Build a focused road map
      </h4>
      <p>
        Innovate, validate, and sell quicker by knowing
        what to build now, and what can come later.
      </p>
    </li>

    <li class="threestep-three">
      <h4>
        Make technology work for you
      </h4>
      <p>
        Enable technological decisions that are perfectly aligned with
        with your business vision.
      </p>
    </li>
  </ol>
</div>
