<div class="hero">
  <h1>
    Software
    that&nbsp;clicks
  </h1>
  <h2>
    I am a technical Product Management consultant
    who can help your software win the market
  </h2>
  <a class="cta" href="mailto:daniel@eigencode.io" onclick="drift.on('ready',function(api) { api.sidebar.toggle() }); event.preventDefault()">
    Let's&nbsp;talk
  </a>
  <!--<p class="sub">or, just get my <a href="/">product strategy cheat sheet</a>-->
</div>
<div class="quote">
  <svg width="100px" height="100px">
    <clipPath id="clipCircle">
      <circle r="40" cx="50" cy="50"/>
    </clipPath>
    <circle r="45" cx="50" cy="50" class="image-border"></circle>
    <image xlink:href="/images/quote-james.jpg" width="90" height="90" clip-path="url(#clipCircle)"/>
  </svg>
  <p>
    In all my years I have never worked with a more dedicated, engaged and
    knowledgeable guy. His strategic thinking has resulted in a consistently
    growing market share and an engaged development team that has been producing
    exciting new features.
  </p>
  <p class="citation">
    &mdash; James King, Senior Account Executive, Redgate
  </p>
</div>
<div class="bottom-cta">
  <a href="/clients">More about my clients</a>
</div>
<div>
  <h3 class="section-header">
    By building an effective software strategy, I can help you:
  </h3>
  <div style="margin:auto">
  <ol class="threestep">
    <li class="threestep-one">
      <h4>
        Find more revenue
      </h4>
      <p>
        Read market and competitor behaviour to determine
        where you will find product/market fit.
      </p>
    </li>

    <li class="threestep-two">
      <h4>
        Stay ahead of your competitors
      </h4>
      <p>
        Innovate, validate, and sell quicker by knowing
        what to build now, and what can come later.
      </p>
    </li>

    <li class="threestep-three">
      <h4>
        Lead technological innovation
      </h4>
      <p>
        Find or build the technologies that will
        drive innovation and give you a lasting advantage.
      </p>
    </li>
  </ol>
  </div>
</div>