extends layout

block content
	h1 
		span.eigen eigen
		span.code code
		span.eigen .io
	p Agile Software Solutions
	h3 Current projects
	ol
		li
			span.strong airCommute:
			span See how long it takes to travel from an AirBnB listing to your point of interest. Great for commuters!
				a.live(href='https://addons.mozilla.org/en-US/firefox/addon/aircommuter/') Add-on
				a.source(href='https://github.com/the-daniel-rothig/airCommuter/') Source
		li
			span.strong Apprenticeship Scorecards:
			span Helps employers pick a good training provider for their apprenticeships.
				a.live(href='http://apprenticeshipscorecards.apphb.com/') Live prototype
				a.source(href='https://github.com/the-daniel-rothig/apprenticeshipscorecards/') Source 
