body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.eigen, .code {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.code {
	color:red;
}

.strong {
	font-weight: bold;
}

a.live, a.source {
	margin-left: 10px;
	margin-right: 10px;
}